.loginForm {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
}

.loginAvatar {

}

.loginUserName {
	width: 100%;
}

.loginConnectButton {
	width: 100%;
}